<!-- <button class="btn btn-light m-2" (click)="goHome()">Home</button> -->
<div class="container">
  <div class="list-group" infinite-scroll [infiniteScrollDistance]="3">
    <div
      class="
        d-flex
        w-100
        justify-content-between
        row
        align-items-center
        shadow
        p-3
        mb-5
        bg-white
        rounded
      "
    >
      <h4 class="justify-content-start">{{ episode.name }}</h4>
      <p class="col-4 aling-self-center">ID: {{ episode.id }}</p>
      <small class="col-4 aling-self-send">{{ episode.episode }}</small>

      <p class="mb-1">{{ episode.air_date }}</p>
      <h4 class="">Characters</h4>
      <div
        class="col-4 justify-content-right item"
        *ngFor="let item of characters"
      >
        <img class="rounded-circle" src="{{ item.img }}" />
        <p class="titulo">
          {{ item.name }}
        </p>
      </div>
    </div>
  </div>
</div>
