<div
  class="container"
  infinite-scroll
  (scrolled)="onScrollDown()"
  [infiniteScrollDistance]="2"
  [scrollWindow]="false"
>
  <div class="list-group">
    <div
      class="
        d-flex
        w-100
        justify-content-around
        row
        align-items-center
        shadow
        p-3
        mb-2
        bg-white
        rounded
      "
      *ngFor="let ep of episodes"
    >
      <div class="row">
        <h4 class="col text-left">{{ ep.name }}</h4>
        <small class="col">{{ ep.episode }}</small>
      </div>
      <p class="ml-1">ID: {{ ep.id }}</p>
      <div class="row">
        <p class="col">{{ ep.air_date }}</p>
        <p class="col justify-content-right">
          N Characters: {{ ep.characters.length }}
        </p>
      </div>
      <button (click)="goEpisode(ep.url, ep.name)" class="btn btn-light w-auto">
        Detalles del episodio
      </button>
    </div>
    <button type="button" class="up" *ngIf="showButton" (click)="onScrollTop()">
      UP
    </button>
  </div>
</div>
